<ul class="list-unstyled">
  {{#each flight in model}}
  <div class="r3-page-header">
    <h2 class="neon-green" style="text-align:left;">
      {{flight.name}}
    </h2>
  </div>
  {{/each}}
</ul>

{{outlet}}
