<div class="page-menu-btn-wrap"></div>
<aside class="r3-panel-group" id="r3Collapse" role="tablist" 
       aria-multiselectable="true" >
  <div class="r3-panel">
  <!-- Panel Header -->
    <div class="r3-panel-heading page-menu-header" role="tab" 
         id="headingOne">
      <a data-parent="#r3Collapse"
         data-toggle="collapse"
         href="#collapse-placements"
         aria-expanded="true" 
         aria-controls="collapse-placements"
         ng-click="setCurrentHeader(menuHeader.header)"
         ui-sref="placements"
         class="r3-panel-heading-link">
        <p class="title campaign-title"> 
          Campaign
          <i class="fa fa-bookmark-o page-menu-i"></i>
        </p>
        <div class="bottom-highlight"></div>
      </a>
    </div>
  <!-- Panel Body -->
    <div id="collapse-placements" 
         class="panel-collapse collapse in" 
         role="tabpanel" 
         aria-labelledby="headingOne">
      <div class="r3-panel-body">
        <aside class="page-menu-content">
          
          <a target="_self" href="http://localhost:3000/media-plan.xls"
             download="media-plan.xls" class="download-media-plan"
             data-toggle="tooltip" data-placement="right"
             title="Click To Download MediaPlan. Remember To Enable Macros :)">

            <div class="center">
              <i class="fa fa-file-excel-o fa-5x"></i>
              <p> 
                Download Media Plan
              </p>
            </div>
          </a>

        </aside>
      </div>
    </div>
  </div><!-- End Panel -->

  <div class="r3-panel">
  <!-- Panel Header -->
    <div class="r3-panel-heading page-menu-header" role="tab" 
         id="headingOne">
      <a data-parent="#r3Collapse"
         data-toggle="collapse"
         href="#collapse-settings"
         aria-expanded="false" 
         aria-controls="collapse-settings"
         ng-click="setCurrentHeader(menuHeader.header)"
         ui-sref="placements"
         class="r3-panel-heading-link">
        <p class="title"> 
          Settings
          <i class="fa fa-cogs page-menu-i"></i>
        </p>
        <div class="bottom-highlight"></div>
      </a>
    </div>
  <!-- Panel Body -->
    <div id="collapse-settings" 
         class="panel-collapse collapse" 
         role="tabpanel" 
         aria-labelledby="headingOne">
      <div class="r3-panel-body">
        <aside class="page-menu-content">
          <p class="title" ng-repeat="setting in settings">
            <a href="#"> 
              {{setting.name}}
            </a>
          </p>
        </aside>
      </div>
    </div>
  </div><!-- End Panel -->

</aside>