{{page-header value="Companies List"}}

<ul class="list-unstyled">
  {{#each company in model}}
    {{#link-to 'companies.media_plan' company class="stripe-box-list-link"}}
      <li class="stripe-box-list-item md-whiteframe-z1">
        <div class="stripe-box-left-stripe"></div>
        <div class="stripe-box-content">
          {{company.name}} | {{company.created_at}}
        </div>
      </li>
    {{/link-to}}
  {{/each}}
</ul>

{{outlet}}