<div class="single-componet-wrap">
  <div class="component-header">
    <p>
      Add a new company
    </p>
  </div>
  <div class="form-wrap r3-primary-border">
    {{partial 'companies/_form'}}
  </div>
</div>