  <div class="page-header">
    <h2 class="center"> 
      {{ campaign.name }}
    </h2>
  </div>

  <ul class="list-unstyled campaign-graph-btn-menu">
    <md-switch ng-model="dash.view" ng-true-value="'Pacing'" 
    ng-false-value="'Performance'" aria-label="dash">
      Dash View: {{ dash.view }}
    </md-switch>
  </ul>

  <div ng-controller="LineGraphsController">
    <div line-graph id="chart" ng-init="showGraph()"></div>
  </div>

  <div ng-repeat="partner in mediaPartners">

    <div class="page-header" style="position:relative;">
      <h2 class="text-left"> 
         {{partner}}
      </h2>
      <p class="pacing-percent">
        3.23%
      </p>
    </div>
    
    <ul class="list-unstyled">
      <a class="stripe-box-list-link" href="campaigns/{{ campaign.id}}"
        data-partner="{{partner}}" 
         ng-repeat="adTag in adTags | filter:partner">
        <li class="stripe-box-list-item md-whiteframe-z1">
          <div class="stripe-box-left-stripe"></div>
            <div class="stripe-box-content">
             {{adTag.media_partner}}_{{adTag.device}}_{{adTag.placement_name}}_{{adTag.period}}_{{adTag.ad_type}}
            </div>
          </div>
        </li>
      </a>
    </ul>

  </div> <!-- end repeat mediaPartners -->

<!-- 
# Image of Company logo - 50% opacity
<%= image_tag "adroll-logo.png", style: 'position: absolute; width: 100px; top:0px; opacity: .5;' %>

<div class="page-header">
  <h2 class="text-left"> 
    iNC
  </h2>
</div>
<ul class="list-unstyled">
  <a class="stripe-box-list-link" href="campaigns/{{ campaign.id}}" 
     ng-repeat="adTag in adTags | filter:'iNC'">
    <li class="stripe-box-list-item md-whiteframe-z1">
      <div class="stripe-box-left-stripe"></div>
      <div class="stripe-box-content">
        {{adTag.media_partner}}_{{adTag.device}}_{{adTag.placement_name}}_{{adTag.period}}_{{adTag.ad_type}}
      </div>
    </li>
  </a>
</ul>
<div class="page-header" style="text-left">
  <h2 class="text-left"> 
    Exponential
  </h2>
</div>
<ul class="list-unstyled">
  <a class="stripe-box-list-link" href="campaigns/{{ campaign.id}}" 
     ng-repeat="adTag in adTags | filter:'Exponential'">
    <li class="stripe-box-list-item md-whiteframe-z1">
      <div class="stripe-box-left-stripe"></div>
      <div class="stripe-box-content">
        {{adTag.media_partner}}_{{adTag.device}}_{{adTag.placement_name}}_{{adTag.period}}_{{adTag.ad_type}}
      </div>
    </li>
  </a>
</ul>
<div class="page-header" style="text-left">
  <h2 class="text-left"> 
    Voban
  </h2>
</div>
<ul class="list-unstyled">
  <a class="stripe-box-list-link" href="campaigns/{{ campaign.id}}" 
     ng-repeat="adTag in adTags | filter:'Voban'">
    <li class="stripe-box-list-item md-whiteframe-z1">
      <div class="stripe-box-left-stripe"></div>
      <div class="stripe-box-content">
        {{adTag.media_partner}}_{{adTag.device}}_{{adTag.placement_name}}_{{adTag.period}}_{{adTag.ad_type}}
      </div>
    </li>
  </a>
</ul>
<div class="page-header">
  <h2 class="text-left"> 
    AdRoll
  </h2>
</div>
<ul class="list-unstyled">
  <a class="stripe-box-list-link" href="campaigns/{{ campaign.id}}" 
     ng-repeat="adTag in adTags | filter:'Yahoo7'">
    <li class="stripe-box-list-item md-whiteframe-z1">
      <div class="stripe-box-left-stripe"></div>
      <div class="stripe-box-content">
        {{adTag.media_partner}}_{{adTag.device}}_{{adTag.placement_name}}_{{adTag.period}}_{{adTag.ad_type}}
      </div>
    </li>
  </a>
</ul>

<ul class="list-unstyled">
  <a class="stripe-box-list-link" href="campaigns/{{ campaign.id}}" 
     ng-repeat="adTag in adTags | filter:'AdRoll'">
    <li class="stripe-box-list-item md-whiteframe-z1">
      <div class="stripe-box-left-stripe"></div>
      <div class="stripe-box-content">
        {{adTag.media_partner}}_{{adTag.device}}_{{adTag.placement_name}}_{{adTag.period}}_{{adTag.ad_type}}
      </div>
    </li>
  </a>
</ul> -->

  <!-- <form editable-form name="editableForm" onaftersave="saveCampaign($data)">
    
    <div>
      <span class="title">
        Name:
      </span>
      <span editable-text="campaign.name" e-name="name" >
        {{ campaign.name }}
      </span>
    </div>
    <div>
      <span class="title">
        Placements:
      </span>
      <span editable-text="campaign.ad_tags_count" e-name="name">
        {{ campaign.ad_tags_count }}
      </span>
    </div>

    <div>
      <span class="title">
        Start Date:
      </span>
      <span editable-text="campaign.start_date" e-name="name">
        {{ campaign.start_date }}
      </span>
    </div>

    <div>
      <span class="title">
        End Date:
      </span>
      <span editable-text="campaign.end_date" e-name="name">
        {{ campaign.end_date }}
      </span>
    </div>

    <div>
      <span class="title">
        Placement Sizes:
      </span>
      <span editable-text="campaign.placement_sizes" e-name="name">
        {{ campaign.ad_sizes }}
      </span>
    </div>

    <div>
      <span class="title">
        Display Types:
      </span>
      <span editable-text="campaign.display_types" e-name="name">
        {{ campaign.ad_types }}
      </span>
    </div>

    <div>
      <span class="title">
        Tag Providers:
      </span>
      <span editable-text="campaign.ad_tag_provider" e-name="name">
        {{ campaign.ad_tag_provider }}
      </span>
    </div>

    <div>
      <span class="title">
        Tag Sender:
      </span>
      <span editable-text="campaign.ad_tag_sender" e-name="name">
        {{ campaign.ad_tag_sender }}
      </span>
    </div>

    <div>
      <span class="title">
        Advertiser:
      </span>
      <span editable-text="campaign.advertiser" e-name="name">
        {{ campaign.advertiser }}
      </span>
    </div>

    <div>
      <span class="title">
        Tag Receivers:
      </span>
      <span editable-text="campaign.ad_tag_receivers" e-name="name">
        {{ campaign.ad_tag_receivers }}
      </span>
    </div>

    <div>
      <span class="title">
        Media Plan Name:
      </span>
      <span editable-text="campaign.media_plan_name" e-name="name">
        {{ campaign.media_plan_name }}
      </span>
    </div>

    <div>
      <!-- button to show form
      <button type="button" class="btn btn-default" ng-click="editableForm.$show()" ng-show="!editableForm.$visible">
        Edit
      </button>
      <!-- buttons to submit / cancel form 
      <span ng-show="editableForm.$visible">
        <button type="submit" class="btn btn-primary" ng-disabled="editableForm.$waiting">
          Save
        </button>
        <button type="button" class="btn btn-default" ng-disabled="editableForm.$waiting" ng-click="editableForm.$cancel()">
          Cancel
        </button>
      </span>
    </div>
  </form>

  <ul class="list-unstyled list-item-fancy-box-wrap">
    <a href="/ad_tags/{{adTag.id}}" ng-repeat="adTag in adTags">
      <li class="list-item-fancy-box">
        <div class="list-item-content">
        <span class="item-count-circle">
          {{$index+1}}
        </span>
          {{adTag.media_partner}}_{{adTag.device}}_{{adTag.placement_name}}_{{adTag.period}}_{{adTag.ad_type}}
        </div>
      </li>
    </a>
  </ul> -->