 <div class="page-header">
    <h2 class="center media-plan-header"> 
      {{ campaign.name }}
    </h2>
  </div>

<div ng-controller="mediaPlanController">
   <div ng-repeat="flight in flights">

    <div class="page-header" style="position:relative;">
      <h2 class="text-left"> 
         {{flight.name}}
      </h2>
    </div>

    <table st-table="mediaPlan" class="table table-ad-tags">
      <tr>
        <!-- <td class="header-cells">
          Start Date
        </td>
        <td class="header-cells">
          End Date
        </td> -->
        <td class="header-cells">
          Size
        </td>
        <td class="header-cells">
          Ad Details
        </td>
        <td class="header-cells" >
          Device
        </td>
        <td class="header-cells">
          Ad Type
        </td>
        <td class="header-cells">
          Unit Cost
        </td>
        <td class="header-cells">
          Est. Impessions
        </td>
        <td class="header-cells">
          Total Cost
        </td>
      </tr>
      <tr ng-repeat="adTag in adTags | filter:partner" 
          ng-click="rowformAdTags.$show()" >
        <!-- <td class="row-cells">
          <span editable-date="adTag.start_date" 
                e-name="start_date" e-form="rowformAdTags" >
            {{ adTag.date || '-' | date }}
          </span>
        </td>
        <td class="row-cells">
          <span editable-date="adTag.end_date"
                e-name="end_date" e-form="rowformAdTags" >
            {{ adTag.end_date || '-' | date }}
          </span>
        </td> -->
        <td class="row-cells">
          <span class="non-editable-wrap" 
                editable-text="adTag.size"
                ng-show="!rowformAdTags.$visible"
                e-name="size" e-form="rowformAdTags"  >
            {{ adTag.size || '-' }}
          </span>
        </td>
        <td class="row-cells">
          <span class="non-editable-wrap" 
                editable-text="adTag.placement_name" 
                ng-show="!rowformAdTags.$visible"
                e-name="placement_name" e-form="rowformAdTags" >
            {{ adTag.placement_name || '-' }}
          </span>
        </td>
        <td class="row-cells">
          <span class="non-editable-wrap" 
                editable-text="adTag.device"
                ng-show="!rowformAdTags.$visible"
                e-name="device" e-form="rowformAdTags"  >
            {{ adTag.device || '-' }}
          </span>
        </td>
        <td class="row-cells">
          <span class="non-editable-wrap" 
                editable-text="adTag.ad_type"
                ng-show="!rowformAdTags.$visible"
                e-name="ad_type" e-form="rowformAdTags"  >
            {{ adTag.ad_type || '-' }}
          </span>
        </td>
        <td class="row-cells">
          <span class="non-editable-wrap" 
                editable-text="adTag.unit_cost"
                ng-show="!rowformAdTags.$visible"
                e-name="unit_cost" e-form="rowformAdTags"  >
            {{ adTag.unit_cost || '-'  | currency }}
          </span>
        </td>
        <td class="row-cells">
          <span class="non-editable-wrap" 
                editable-text="adTag.impressions"
                ng-show="!rowformAdTags.$visible"
                e-name="impressions" e-form="rowformAdTags"  >
            {{ adTag.impressions || '-' | number : fractionSize }}
          </span>
        </td>
        <td class="row-cells">
          <span class="non-editable-wrap" 
                editable-text="adTag.total_cost" 
                ng-show="!rowformAdTags.$visible"
                e-name="total_cost" e-form="rowformAdTags"  >
            {{ adTag.total_cost || '-'  | currency }}
          </span>
        </td>
        <td class="edit-row-cell">
          <form editable-form name="rowformAdTags" shown="false"
               onaftersave="adTag.save()"
               ng-show="rowformAdTags.$visible" 
               class="form-buttons form-inline" 
               shown="inserted == campaign">
            <md-button type="submit" class="md-fab btn-save-ad-tag" 
                       ng-disabled="rowformAdTags.$waiting"
                       aria-label="Save">
              <i class="fa fa-check"></i>
            </md-button>
            <md-button class="md-fab btn-cancel-ad-tag" 
                       ng-disabled="rowformAdTags.$waiting"
                       ng-click="rowformAdTags.$cancel()"
                       aria-label="Cancel Editing Placements">
              <i class="fa fa-times"></i>
            </md-button>
          </form>  
        </td>
      </tr>
    </table>
  </div><!-- end ngRepeat MediaPartners -->
</div>
