  <a href="campaigns"> 
    My Campaigns
  </a>

  <h1 class="center"> 
    Campaign Basics
  </h1> 

  <form editable-form name="editableForm" onaftersave="saveCampaign($data)">
    
    <div>
      <span class="title">
        Name:
      </span>
      <span editable-text="campaign.name" e-name="name" >
        {{ campaign.name }}
      </span>
    </div> 

    <div>
      <span class="title">
        Placements:
      </span>
      <span editable-text="campaign.ad_tags_count" e-name="name">
        {{ campaign.ad_tags_count }}
      </span>
    </div>

    <div>
      <span class="title">
        Start Date:
      </span>
      <span editable-text="campaign.start_date" e-name="name">
        {{ campaign.start_date }}
      </span>
    </div>

    <div>
      <span class="title">
        End Date:
      </span>
      <span editable-text="campaign.end_date" e-name="name">
        {{ campaign.end_date }}
      </span>
    </div>

    <div>
      <span class="title">
        Placement Sizes:
      </span>
      <span editable-text="campaign.placement_sizes" e-name="name">
        {{ campaign.placement_sizes }}
      </span>
    </div>

    <div>
      <span class="title">
        Display Types:
      </span>
      <span editable-text="campaign.display_types" e-name="name">
        {{ campaign.display_types }}
      </span>
    </div>

    <div>
      <span class="title">
        Tag Providers:
      </span>
      <span editable-text="campaign.ad_tag_provider" e-name="name">
        {{ campaign.ad_tag_provider }}
      </span>
    </div>

    <div>
      <span class="title">
        Tag Sender:
      </span>
      <span editable-text="campaign.ad_tag_sender" e-name="name">
        {{ campaign.ad_tag_sender }}
      </span>
    </div>

    <div>
      <span class="title">
        Advertiser:
      </span>
      <span editable-text="campaign.advertiser" e-name="name">
        {{ campaign.advertiser }}
      </span>
    </div>

    <div>
      <span class="title">
        Tag Receivers:
      </span>
      <span editable-text="campaign.ad_tag_receivers" e-name="name">
        {{ campaign.ad_tag_receivers }}
      </span>
    </div>

    <div>
      <span class="title">
        Media Plan Name:
      </span>
      <span editable-text="campaign.media_plan_name" e-name="name">
        {{ campaign.media_plan_name }}
      </span>
    </div>

    <div>
      <!-- button to show form -->
      <button type="button" class="btn btn-default" ng-click="editableForm.$show()" ng-show="!editableForm.$visible">
        Edit
      </button>
      <!-- buttons to submit / cancel form -->
      <span ng-show="editableForm.$visible">
        <button type="submit" class="btn btn-primary" ng-disabled="editableForm.$waiting">
          Save
        </button>
        <button type="button" class="btn btn-default" ng-disabled="editableForm.$waiting" ng-click="editableForm.$cancel()">
          Cancel
        </button>
      </span>
    </div>
  </form>  

  <ul class="list-unstyled list-item-fancy-box-wrap">
    <a href="ad_tags/{{adTag.id}}" ng-repeat="adTag in adTags">
      <li class="list-item-fancy-box">
        <div class="list-item-content">
        <span class="item-count-circle">
          {{$index+1}}
        </span>
          {{adTag.media_partner}}_{{adTag.device}}_{{adTag.placement_name}}_{{adTag.period}}
        </div>
      </li>
    </a>
  </ul>
