<div class="r3-page-header">
  <h2 class="neon-green">
    Active Campaigns
  </h2>
</div>

<ul class="list-unstyled">
  <a class="stripe-box-list-link" href="campaigns/{{campaign.id}}" ng-repeat="campaign in campaigns">
    <li class="stripe-box-list-item md-whiteframe-z1">
      <div class="stripe-box-left-stripe"></div>
      <div class="stripe-box-content">
        {{campaign.name}} | {{campaign.created_at}}
      </div>
    </li>
  </a>
</ul>