<div class="single-componet-wrap">
  <div class="component-header">
      Create your account
  </div>
  <div class="form-error-wrap">
    <%= render 'users/errors' %>
  </div>
  <div class="form-wrap r3-primary-border">
    <%= render 'users/form' %>
  </div>


