<form {{action "createCampaign" on="submit"}} enctype="multipart/form-data">  
  <div class="upload-ad-tags r3-primary-border">
    <div>
      {{file-upload url="/api/sign" 
          model="campaign"
          attribute="media_plan"
          s3_key=controller.s3_key
      }}
    </div>
  </div>
  <div class="center">
    <button type="submit" name="submit" class="r3-btn-primary">
      Submit
    </button>  
  </div>
</form>