{{page-header value=campaign.name}}

<ul class="list-unstyled">
  {{#each flight in flights}}
    <li>
      {{flight-header flight=flight}}
      {{placement-table ad_tags=flight.ad_tags}}
    </li>  
  {{/each}}
</ul>

{{outlet}}