<div class="upload-ad-tags-header">
  <p>
    Ready to traffic?
  </p>
  <p>
    Just upload media plan to get started!
  </p>
</div>

<div class="upload-ad-tags-wrap">
  {{partial 'campaigns/_form'}}
  {{download-media-plan}}
</div>