  <a href="/campaigns"> 
    Back
  </a>

  <h1 class="center"> 
    Placement Details
  </h1> 

  <form editable-form name="editableForm" onaftersave="saveAdTag($data)">
    
    <div>
      <span class="title">
        Placement Name:
      </span>
      <span editable-text="adTag.placement_name" e-name="name" 
            onbeforesave="checkName($data)">
        {{ adTag.placement_name }}
      </span>
    </div>

    <div>
      <span class="title">
        Target:
      </span>
      <span editable-text="adTag.target" e-name="name" 
            onbeforesave="checkName($data)">
        {{ adTag.target }}
      </span>
    </div>

    <div>
      <span class="title">
        Audience:
      </span>
      <span editable-text="adTag.audience" e-name="name" 
            onbeforesave="checkName($data)">
        {{ adTag.audience }}
      </span>
    </div>

    <div>
      <span class="title">
        Media Partner:
      </span>
      <span editable-text="adTag.media_partner" e-name="name" 
            onbeforesave="checkName($data)">
        {{ adTag.media_partner }}
      </span>
    </div>

    <div>
      <span class="title">
        Ad Type:
      </span>
      <span editable-text="adTag.ad_type" e-name="name" 
            onbeforesave="checkName($data)">
        {{ adTag.ad_type }}
      </span>
    </div>

    <div>
      <span class="title">
        Ad Type Details:
      </span>
      <span editable-text="adTag.ad_type_details" e-name="name" 
            onbeforesave="checkName($data)">
        {{ adTag.ad_type_details }}
      </span>
    </div>

    <div>
      <span class="title">
        Product:
      </span>
      <span editable-text="adTag.product" e-name="name" 
            onbeforesave="checkName($data)">
        {{ adTag.product }}
      </span>
    </div>

    <div>
      <span class="title">
        Size:
      </span>
      <span editable-text="adTag.size" e-name="name" 
            onbeforesave="checkName($data)">
        {{ adTag.size }}
      </span>
    </div>

    <div>
      <span class="title">
        Device
      </span>
      <span editable-text="adTag.device" e-name="name" 
            onbeforesave="checkName($data)">
        {{ adTag.device }}
      </span>
    </div>

    <div>
      <span class="title">
        Unit Cost:
      </span>
      <span editable-text="adTag.unit_cost" e-name="name" 
            onbeforesave="checkName($data)">
        {{ adTag.unit_cost }}
      </span>
    </div>

    <div>
      <span class="title">
        Impressions:
      </span>
      <span editable-text="adTag.impressions" e-name="name" 
            onbeforesave="checkName($data)">
        {{ adTag.impressions }}
      </span>
    </div>

    <div>
      <span class="title">
        Total Cost:
      </span>
      <span editable-text="adTag.total_cost" e-name="name" 
            onbeforesave="checkName($data)">
        {{ adTag.total_cost }}
      </span>
    </div>

    <div>
      <span class="title">
        Start Date:
      </span>
      <span editable-text="adTag.start_date" e-name="name" 
            onbeforesave="checkName($data)">
        {{ adTag.start_date }}
      </span>
    </div>

    <div>
      <span class="title">
        End Date:
      </span>
      <span editable-text="adTag.end_date" e-name="name" 
            onbeforesave="checkName($data)">
        {{ adTag.end_date }}
      </span>
    </div>

    <div>
      <span class="title">
        Flight:
      </span>
      <span editable-text="adTag.flight" e-name="name" 
            onbeforesave="checkName($data)">
        {{ adTag.flight }}
      </span>
    </div>

    <div>
      <span class="title">
        Flight Dates:
      </span>
      <span editable-text="adTag.flight_dates" e-name="name" 
            onbeforesave="checkName($data)">
        {{ adTag.flight_dates }}
      </span>
    </div>

    <div>
      <span class="title">
        Total Digital Cost:
      </span>
      <span editable-text="adTag.total_digital_cost" e-name="name" 
            onbeforesave="checkName($data)">
        {{ adTag.total_digital_cost }}
      </span>
    </div>

    <div>
      <span class="title">
        Advertiser:
      </span>
      <span editable-text="adTag.advertiser" e-name="name" 
            onbeforesave="checkName($data)">
        {{ adTag.advertiser }}
      </span>
    </div>

    <div>
      <span class="title">
        Period:
      </span>
      <span editable-text="adTag.period" e-name="name" 
            onbeforesave="checkName($data)">
        {{ adTag.period }}
      </span>
    </div>

    <div>
      <span class="title">
        Primary Target Audience:
      </span>
      <span editable-text="adTag.primary_target_audience" e-name="name" 
            onbeforesave="checkName($data)">
        {{ adTag.primary_target_audience }}
      </span>
    </div>

    <div>
      <span class="title">
        Date:
      </span>
      <span editable-text="adTag.date" e-name="name" 
            onbeforesave="checkName($data)">
        {{ adTag.date }}
      </span>
    </div>

    <div>
      <span class="title">
        Version:
      </span>
      <span editable-text="adTag.version" e-name="name" 
            onbeforesave="checkName($data)">
        {{ adTag.version }}
      </span>
    </div>

    <div>
      <span class="title">
        Campaign:
      </span>
      <span editable-text="adTag.campaign" e-name="name" 
            onbeforesave="checkName($data)">
        {{ adTag.campaign }}
      </span>
    </div>

    <div>
      <!-- button to show form -->
      <button type="button" class="btn btn-default" ng-click="editableForm.$show()" ng-show="!editableForm.$visible">
        Edit
      </button>
      <!-- buttons to submit / cancel form -->
      <span ng-show="editableForm.$visible">
        <button type="submit" class="btn btn-primary" 
                ng-disabled="editableForm.$waiting">
          Save
        </button>
        <button type="button" class="btn btn-default" ng-disabled="editableForm.$waiting" ng-click="editableForm.$cancel()">
          Cancel
        </button>
      </span>
    </div>
  </form>