{{-sidebar}}

{{-navigation 
  currentUser=currentUser
  currentAvatar=currentAvatar
  isLoggedIn=isLoggedIn}}

{{render 'flashMessages'}}
<div class="page-content-wrap sidebar-push-content">
  <div class="page-content">
    {{outlet}}
  </div>
</div>


