<div class="r3-page-header">
  <h2 class="neon-green">
    {{name}}
  </h2>
</div>

{{#each ad_tag in ad_tags}}
 <div class="r3-page-header">
  <h2 class="neon-green" style="text-align:left;">
    {{ad_tag.placement}}
  </h2>
</div>
{{/each}}

{{outlet}}