<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a 
        href=""
        class="page-menu-toggle"  
        {{action "toggleSidebar" on="click"}} >
        <i class="fa fa-bars"></i>
      </a>
      <a class="navbar-brand" href="#">
        Display
        <span>{</span>AdTech<span>}</span>
      </a>
    </div>
    <ul class="nav pull-right">
    <li>
      {{#link-to 'sessions.destroy'}}
        Logout
      {{/link-to}}
    </li>
    </ul>
  </div>
</nav>