<section class="sticky-left sidebar show-sidebar">
  <div class="page-menu-btn-wrap"></div>
  <aside class="r3-panel-group" id="r3Collapse" role="tablist" 
         aria-multiselectable="true" >
    <div class="r3-panel">
    <!-- Panel Header -->
      <div class="r3-panel-heading page-menu-header" role="tab" 
           id="headingOne">
        <a data-parent="#r3Collapse"
           data-toggle="collapse"
           href="#collapse-placements"
           aria-expanded="true" 
           aria-controls="collapse-placements"
           ng-click="setCurrentHeader(menuHeader.header)"
           ui-sref="menu"
           class="r3-panel-heading-link">
          <p class="title"> 
            Menu
            <i class="fa fa-file-o media-plan page-menu-i"></i>
          </p>
          <div class="bottom-highlight"></div>
        </a>
      </div>
    <!-- Panel Body -->
      <div id="collapse-placements" 
           class="panel-collapse collapse in" 
           role="tabpanel" 
           aria-labelledby="headingOne">
        <div class="r3-panel-body">
          <aside class="page-menu-content">
            <p class="title">
              {{#link-to 'campaigns.index'}}
                Campaigns
              {{/link-to}}
            </p>
            <p class="title">
              {{#link-to 'users.index'}}
                Users
              {{/link-to}}
            </p>
            <p class="title">
              {{#link-to 'sessions'}}
                Sign-In
              {{/link-to}}
            </p>
            <p class="title">
              {{#link-to 'companies.index'}}
                Companies
              {{/link-to}}
            </p>
          </aside>
        </div>
      </div>
    </div><!-- End Panel -->

    <div class="r3-panel">
    <!-- Panel Header -->
      <div class="r3-panel-heading page-menu-header" role="tab" 
           id="headingOne">
        <a data-parent="#r3Collapse"
           data-toggle="collapse"
           href="#collapse-trafficking"
           aria-expanded="true" 
           aria-controls="collapse-trafficking"
           ng-click="setCurrentHeader(menuHeader.header)"
           ui-sref="analytics"
           class="r3-panel-heading-link">
          <p class="title"> 
            Settings
            <i class="fa fa-cog trafficking page-menu-i"></i>
          </p>
          <div class="bottom-highlight"></div>
        </a>
      </div>
    <!-- Panel Body -->
      <div id="collapse-trafficking" 
           class="panel-collapse collapse in" 
           role="tabpanel" 
           aria-labelledby="headingOne">
        <div class="r3-panel-body">
          <aside class="page-menu-content">
            <p class="title" >
              {{#link-to 'users.show' currentUser}}
                My Profile
              {{/link-to}}
            </p>
          </aside>
        </div>
      </div>
    </div><!-- End Panel -->
  </aside>
</section>