<div class="r3-page-header">
  <h2 class="neon-green">
    Active Ad Tags
  </h2>
</div>

<ul class="list-unstyled">
  {{#each ad_tag in model}}
    {{#link-to 'ad_tag' ad_tag class="stripe-box-list-link"}}

      <li class="stripe-box-list-item md-whiteframe-z1">
        <div class="stripe-box-left-stripe"></div>
        <div class="stripe-box-content">
          {{ad_tag.placement}} | {{ad_tag.created_at}}
        </div>
      </li>
    {{/link-to}}
  {{/each}}
</ul>