@import 'colors';

$primary-btn-border: $neon-blue;
$primary-btn-background: $neon-blue;

.r3-btn-primary {
  color: #fff;
  font-weight: 200;
  font-size: 18px;
  padding: 4px 30px;
  border: 2px solid $primary-btn-border;
  background-color: $primary-btn-background;
  transition: all .2s;
  width: 100%;
  &:hover {
    background-color: #fff;
    color: $primary-btn-background;
  }
}

.r3-btn-hallow-blue {
  color: #0277BD;
  border: 1px solid #0277BD !important;
  font-size: 15px;
  font-weight: bold;
  background-color: #fff;
  &:hover, &:active, &:focus {
    color: #01579B !important;
    border: 1px solid #01579B !important;
  }
}