$primary-text: #181818 !important;
$sub-header-text: #f8f8f8 !important;

$neon-blue: #46b8da;
$neon-green: #67e875;
$neon-green-dark: #4fbd5c;


/*------------*/
/*    Set     */
/*------------*/

.neon-green {
  color: $neon-green;
}