@font-face {
    font-family: 'leelawad';
    src: font-url('leelawad.eot');
    src: font-url('leelawad.eot?iefix') format('eot'),
        font-url('leelawad.woff') format('woff'),
        font-url('leelawad.ttf') format('truetype'),
        font-url('leelawad.svg#webfont') format('svg');
}

$font-stack: leelawad, helvetica neue, helvetica, arial, sans-serif !important;