.form-wrap {
  width: 350px;
  padding: 23px 25px;
  margin: 0px auto;
  & .two-field-wrap {
    display: flex;
  }
  & .form-input {
    margin: 0 0 15px 0;
  }
  & .input-1-2, .input-2-2 {
    float: left;
    width: 49%;
  }
  & .input-1-2 {
    margin-right: 5px;
  }
  .form-description {
    margin-bottom: 20px;
    text-align: center;
  }
}

.form-field-error {
  color: #337ab7;
  margin: 6px 0 -6px 5px;
}
