<div class="container">
  <a class="navbar-brand" href="#">
    Display
    <span>{</span>AdTech<span>}</span>
  </a>
  
<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
  <li><a href="#!">one</a></li>
  <li><a href="#!">two</a></li>
  <li class="divider"></li>
  <li><a href="#!">three</a></li>
</ul>

  <ul id="nav-mobile" class="right hide-on-med-and-down">
    {{#if isLoggedIn}}
      <li>
        {{#link-to 'users.show' currentUser.id}}
          <div class="nav-user-avatar"> 
            <img {{bind-attr src=currentAvatar.nav_url}} >
          </div>
          <div class="nav-user-name"> 
            {{currentUser.first_name}}
          </div>
        {{/link-to}}
      </li>
      <li class='pull-right'>
        {{#link-to 'sessions.destroy'}}
          Logout
        {{/link-to}}
      </li>
    {{else}}
      <li>
        {{#link-to 'sessions'}}
          Sign In
        {{/link-to}}
      </li>
      <li>
        {{#link-to 'users.new'}}
          Sign Up
          {{currentUser.first_name}}
        {{/link-to}}
      </li>
    {{/if}}
  </ul>
</div>