<div class="page-menu-btn-wrap"></div>
<aside class="r3-panel-group" id="r3Collapse" 
       role="tablist" aria-multiselectable="true">
  
  {{sidebar-panel
    header-id='menu'
    header-title='Menu'
    header-href='#collapse-menu'
    header-aria-controls='collapse-menu'
    header-aria-expanded=true
    header-iconClass='fa fa-file-o media-plan page-menu-i'
    body-id='collapse-menu'
    body-panelFor='menu'
  }}

  {{sidebar-panel
    header-id='settings'
    header-title='Settings'
    header-href='#collapse-settings'
    header-aria-controls='collapse-settings'
    header-aria-expanded=true
    header-iconClass='fa fa-cog trafficking page-menu-i'
    body-id='collapse-settings'
    body-panelFor='settings'
    currentUser=currentUser
  }}

</aside>