  <div class="sidebar-panel-header-wrap">
  	{{#if currentUser}}
  		{{#link-to 'users.show' currentUser.id}}
        <div class="sidebar-user-avatar"> 
          <img {{bind-attr src=currentAvatar.nav_url}} >
        </div>
        <div class="sidebar-user-name"> 
          {{currentUser.first_name}} 
        </div>
      {{/link-to}}
  	{{/if}}
  </div>      
  
  {{#if currentUser}}
    {{#if currentCampaign}}
    	{{sidebar-campaign-panel 
    		header-title="Campaign"
    		currentCampaign=currentCampaign}}
    {{/if}}
  {{/if}}

  {{sidebar-menu-panel
    header-title="Site"
    currentUser=currentUser}}
  


