<a 
 target="_self" 
 href="http://localhost:3000/media-plan.xls"
 download="media-plan.xls" 
 class="download-media-plan"
 data-toggle="tooltip" 
 data-placement="right"
 title="Click To Download MediaPlan. Remember To Enable Macros :)">

  <div class="center">
    <i class="fa fa-file-excel-o fa-5x"></i>
    <p> 
      Download Media Plan
    </p>
  </div>
</a>