<div class='upload-creative-file-uploads-wrap'>
	<div class='flight-add-creative-header'>
		<h2> 
			Upload Creative Below
		</h2>
	</div> 
	
	{{materialize-switch 
		labelOne='Flash/Gif'
		labelTwo='Ad Tag'
		clickSendAction='toggleCreativeType'
		toggleCreativeType='toggleCreativeType'}}

	<div class='upload-creative-file-upload-wrap'>
		<form {{action 'createCreative' on='submit'}}>
		
			{{#if isAdTag}}
				{{fields-new-ad-tag
					flight=flight
					creative=creative
					creative_errors=creative_errors
					clearCreativeProperties='clearCreativeProperties'
					clearCreativeErrors='clearCreativeErrors'}}
		  {{/if}}

		  {{#if isCreative}}
			  {{fields-new-creative
			  	flight=flight
			  	creative=creative
			  	setS3data='setS3data'
			  	creative_errors=creative_errors
			  	clearCreativeProperties='clearCreativeProperties'
			  	clearCreativeErrors='clearCreativeErrors'}}
			{{/if}}
 
		</form> 
	</div>
</div>

