<div class="company-list-item-wrap z-depth-1">
	<div class="header-wrap valign-wrapper">
	  <h5 class="valign center-align header">
	  	{{dcm.name}}
	 	</h5>
	</div>
	<div class="logo-wrap valign-wrapper">
		<div class="logo-img-wrap" >
			<img class="valign center-align" 
				src="{{dcm.logo.company_list_logo.url}}"/>
		</div>
	</div>
</div>