<div class='upload-creative-file-uploads-wrap'>
	<div class='flight-add-creative-header'>
		<h2> 
			Upload {{panelHeadingCreativeType}} Creative Below
		</h2>
	</div> 
	
	{{#if displayFileTypeSwitch}}
		{{materialize-switch 
			labelOne='Flash/Image'
			labelTwo='Ad Tag'
			clickSendAction='toggleCreativeType'
			toggleCreativeType='toggleCreativeType'}}
	{{/if}}

  {{#if isSwfCreative}}
	  {{panel-add-creative-main-file
	  	flight=flight
	  	creative=creative
	  	creativeType=creativeType
	  	parentCreative=parentCreative
			parentController=parentController
			rerenderPanelAddCreative='rerenderPanelAddCreative'}}
	{{/if}}

	{{#if isAdTagCreative}}
		{{panel-add-creative-main-ad-tag
			flight=flight
			creative=creative
			creativeType=creativeType
			parentController=parentController
			rerenderPanelAddCreative='rerenderPanelAddCreative'}}
  {{/if}}

</div>

