<div class='upload-creative-file-uploads-wrap'>
	<div class='flight-add-creative-header'>
		<h2> 
			Upload Creative Below
		</h2>
	</div> 
	
	{{materialize-switch 
		labelOne='Flash/Gif'
		labelTwo='Ad Tag'
		clickSendAction='toggleCreativeType'
		toggleCreativeType='toggleCreativeType'}}
		
	{{#if isAdTagCreative}}
		{{panel-add-creative-ad-tag
			flight=flight
			creative_type=creative_type
			parentController=parentController
			rerenderPanelAddCreative='rerenderPanelAddCreative'}}
  {{/if}}

  {{#if isSwfCreative}}
	  {{panel-add-creative-swf
	  	flight=flight
	  	creative_type=creative_type
			parentController=parentController
			rerenderPanelAddCreative='rerenderPanelAddCreative'}}
	{{/if}}

</div>

