{{sidebar-panel-header title=header-title}}
<div class="sidebar-panel-body">
	{{#link-to 'campaigns.media_plan' currentCampaign.id 
		class="waves-effect waves-light" }} 
    Media Plan
	{{/link-to}}
	{{#link-to 'campaigns.analytics' currentCampaign.id
		class="waves-effect waves-light" }} 
    Analytics
	{{/link-to}}
	{{#link-to 'campaigns.trafficking' currentCampaign.id
		class="waves-effect waves-light" }} 
    Trafficking
	{{/link-to}}
	{{#link-to 'campaigns.wrap_up' currentCampaign.id
		class="waves-effect waves-light" }} 
   Wrap Up
	{{/link-to}}
</div>
