<div class="r3-panel-body">
  <aside class="page-menu-content">
    {{#each link in links}}
      <p class="title">
        {{#if link.id}}

          {{#link-to link.path link.id}} 
            {{link.title}}
          {{/link-to}}

        {{else}}

          {{#link-to link.path}} 
            {{link.title}}
          {{/link-to}}

        {{/if}}
      </p>
    {{/each}}
  </aside>
</div>
