<a {{bind-attr 
    href=href
    aria-controls=aria-controls
    aria-expanded=aria-expanded}}
    class="r3-panel-heading-link"
    data-parent="#r3Collapse"
    data-toggle="collapse">

  <p class="title"> 
    {{title}}
    <i {{bind-attr class=iconClass}}></i>
  </p>
  <div class="bottom-highlight"></div>
</a>