<div class="r3-panel-body">
  <aside class="page-menu-content">
    {{#if isMenu}}
      {{menu-links}}
    {{/if}}
    {{#if isSettings}}
      {{settings-links currentUser=currentUser}}
    {{/if}}
  </aside>
</div>
