<% content_for :title do %> Placements Show <% end %>

<div page-menu></div page-menu>

<div class="page-content-wrap page-menu-content-push">
  <div class="page-content" >
    <div ui-view></div>
  <div>
</div>