<section class="sticky-right page-menu">
  <aside class="page-menu-header">
    <p class="title"> 
      Summary
      <i class="fa fa-bar-chart"></i>
    </p>
   <div class="bottom-highlight"></div>
  </aside>
  <aside class="page-menu-content">
   <p class="title"> 
     $5,022.43
   </p>
  </aside>
  <aside class="page-menu-header">
    <p class="title"> 
      Transactions
      <i class="fa fa-bar-chart"></i>
    </p>
   <div class="bottom-highlight"></div>
  </aside>
  <aside class="page-menu-header">
    <p class="title"> 
      Documents
      <i class="fa fa-bar-chart"></i>
    </p>
   <div class="bottom-highlight"></div>
  </aside>
</section>