.account-settings-wrap {
  width: 650px;
  margin: 0 auto;
  border-radius: 4px;
  border: 1px solid #fff;
}

.account-settings-header {
  font-size: 24px;
  margin: 0px;
  font-weight: 400;
}

.account-settings-row {
  display: flex;
  padding: 15px 0;
  border-bottom: 1px solid #dfdfdf;
  &:last-child {
    border-bottom: 1px solid transparent;  
  }
}

.account-settings-label {
  flex: 1;
  color: #333;
  font-size: 14px;
  font-weight: bold;
  padding: 7px 0 0 30px;
}

.account-settings-value {
  display:flex;
  flex: 2;
  padding-right: 30px;
  & input {
    height: 37px;
  }
  & input[type="file"] {
    position: relative;
    top: 25px;
    left: 20px;
  }
}

.account-settings-value-2 {
  flex: 2;
  & input {
    height: 37px;
  }
  &:first-child {
    margin-right: 5px;
  }
}

.account-settings-submit-wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding: 15px 25px;
}

.account-settings-user-photo-wrap {
  position: relative;
  height: 75px;
  width: 75px;
  & img {
    border-radius: 5px;
  }
}

.account-settings-submit, .account-settings-delete {
  width: 200px;
}