.page-content {
 margin: 0px 60px;
}

.upload-ad-tags-header {
  width: 500px;
  font-weight: 200;
  font-size: 26px;
  text-align: center;
  margin: 30px auto 0 auto;
}

.upload-ad-tags-wrap {
  margin: 0px auto;
  width: 300px;
}

.upload-ad-tags {
  position: relative;
  width: 300px;
  margin: 30px auto 40px auto;
  padding: 30px 20px;
  overflow: hidden;
}

/*-----------------*/
/*  Campaign List  */
/*-----------------*/

.stripe-box-list-link {
  &:hover, &:active, &:focus {
    text-decoration: none;
    outline: none;
    border: 0px solid transparent;
  }
}

.stripe-box-list-item {
  margin: 10px 0;
  height: 70px;
}

.stripe-box-left-stripe {
  height: 100%;
  width: 7px;
  float: left;
  background-color: $neon-green;
}

.stripe-box-content {
  color: $primary-text;
  padding: 25px 0 0 20px;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
}

/*-----------------*/
/*  Campaign Show  */
/*-----------------*/

.campaign-graph-btn-menu {
  position: relative;
  top: -29px;
  & li {
    margin-right: 10px;
  }
}

.pacing-percent {
  position: absolute;
  top: 0px;
  left: 875px;
  font-size: 25px;
  color: #67e875;
}