body {
  min-height: 1000px;
}

body,
html {
  width: 100%;
  height: 100%;
}

html,body,h1,h2,h3,h4,h5,h6 {
  font-family: $font-stack;
  color: $primary-text;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.container{
  width:  1100px !important;
  height: 100% !important;
}

.navbar-brand {
  position: relative;
  top: 0px;
  left: 30px;
  font-size: 21px;
  color: #5e5e5e;
  &:hover {
    color: #5e5e5e;
  }
  & span {
    color: $secondary-color;
  }
}

.flash-messages {
  position: fixed;
  bottom: 0px;
  width: 100%;
  color: #fff;
  font-size: 24px;
  padding: 6px;
  border-radius: 0px;
  border: 0px solid transparent;
  z-index: 150;
}

.flash-success {
  background-color: $secondary-color;
}

.flash-error {
  background-color: red;
}

.page-content-wrap {
  width: 100%;
  height: 100%;
  transition: all .5s;
}

.sidebar-toggle {
  position: fixed;
  top: 0px;
  left: 165px;
  color: #5e5e5e;
  font-size: 33px;
  cursor: pointer;
  z-index: 120;
  &:hover, &:active, &:focus {
    color: #5e5e5e;
    border: 0px solid transparent;
    outline: none;
  }
} 

/*----------------------*/
/*   Custom-Material    */
/*----------------------*/

.btn {
  width: 100%;
}

.input-field {
  margin: 0 0 15px 0;
  width: 100%;
}

.ember-application nav {
  position: fixed;
  top: 0px; 
  -webkit-backface-visibility: hidden;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.16), 
  0 1px 7px 0 rgba(0, 0, 0, 0.12) !important;
  z-index: 99;
}

.ember-application nav ul a {
  font-size: 1.1rem;
  color: $secondary-color;
}

.ember-application .nav > li > a {
  padding: 0px 15px;
}

.ember-application .collection {
  margin: 0;
  border: 0px solid transparent;
  & .collection-item {
    border-top: 1px solid #e0e0e0;
    border-bottom: 0px solid transparent;
  }
}

/*---------------------*/
/*    Custom-Global    */
/*---------------------*/

.page-header {
  padding-bottom: 15px;
  margin: 80px 0 40px 0;
  border-bottom: 1px solid #eeeeee;
  text-align: center;
  & h2 {
    font-size: 25px;
  }
}

.center {
  text-align: center;
  margin: 0px auto;  
}

.sticky-left{
  position: fixed;
  left:0px;
}

.no-bottom-margin {
  margin-bottom: 0px !important;
}

.pointer {
  cursor: pointer;
}

.primary-border {
  box-shadow: 0 1px 3px rgba(0,0,0,0.4);
}

.single-componet-wrap {
  margin: 83px auto 0px auto;
  width: 500px;
  & .component-header {
    padding-bottom: 10px;
    margin: 25px 0 40px 0;
    border-bottom: 1px solid #eee;
    font-size: 25px;
    text-align: center;
  }
  & h1 {
    margin-bottom: 20px;
  }
}

/*-----------------*/
/*   Text Colors   */
/*-----------------*/

.neon-text {
  color: $neon-green !important;
}