body {
  padding-top: 55px !important;
}

body,
html {
  width: 100%;
  height: 100%;
}

body,h1,h2,h3,h4,h5,h6 {
  font-family: $font-stack;
  color: $primary-text;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/*----------------------*/
/*   Custom-BootStrap   */
/*----------------------*/

.container{
  width:  1100px !important;
  height: 100% !important;
}

.navbar-brand {
  font-size: 20px !important;
  color: #5e5e5e !important;
  &:hover {
    color: #5e5e5e;
  }
  & span {
  color: #67e875;
  }
}

.r3-flashs {
  position: fixed;
  bottom: 0px;
  width: 100%;
  color: #fff;
  font-size: 24px;
  padding: 6px;
  border-radius: 0px;
  border: 0px solid transparent;
}

.r3-flash-success {
  background-color: #67e875;
}

.r3-flash-error {
  background-color: red;
}

/*---------------------*/
/*    Custom-Global    */
/*---------------------*/

.r3-page-header {
  padding-bottom: 25px;
  margin: 25px 0 40px 0;
  border-bottom: 1px solid #eeeeee;
  text-align: center;
  & h2 {
    font-size: 25px;
  }
}

.center {
  text-align: center;
  margin: 0px auto;  
}

.sticky-left{
  position: fixed;
  left:0px;
}

.r3-primary-border {
  -webkit-box-shadow: #f0f0f0 0 0 0 3px inset,#edddf5 2px 3px 0;
  -moz-box-shadow: #f0f0f0 0 0 0 3px inset,#edddf5 2px 3px 0;
  box-shadow: #f0f0f0 0 0 0 3px inset,#edddf5 2px 3px 0;
}

.shadow-border {
  box-shadow: 1px 1px 3px rgba(0,0,0,0.45);
}

.single-componet-wrap {
  margin: 50px auto 0px auto;
  width: 500px;
  & .component-header {
    padding-bottom: 10px;
    margin: 25px 0 40px 0;
    border-bottom: 1px solid #eee;
    font-size: 25px;
    text-align: center;
  }
  & h1 {
    margin-bottom: 20px;
  }
}