/*----------------*/
/*   Media Plan   */
/*----------------*/

.flight-header {
  padding-bottom: 10px;
  margin: 25px 0 20px 0;
  font-size: 26px;
  border-bottom: 1px solid #eeeeee;
  text-align: left;
  & h2 {
    font-size: 24px;
  }
}

.placement-table-container {
  margin: 0 0 50px 0; 
}
