/*-----------*/
/*  Sidebar  */
/*-----------*/

.sidebar {
  position: fixed;
  top:0px;
  left: -211px !important;
  width: 210px;
  height: 100%;
  background-color: #29292e;
  transition: margin .5s;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.4);
  -webkit-backface-visibility: hidden;
  z-index:110;
}

.show-sidebar {
  margin-left: 211px !important;
}

.sidebar-push-content {
  margin-left: 211px !important;
  width: 85.5%;
}

/*-------------------*/
/*  Sidebar Content  */
/*-------------------*/

.sidebar-panel-header-wrap {
  position: relative;
  height: 50px;
  border-bottom: 1px solid #34343a;
  margin: 0 0 10px 0;
  & .sidebar-user-avatar {
    position: absolute;
    top: 9px;
    left: 10px;
  }
  & .sidebar-user-avatar img {
    border-radius: 50%;
  }
  & .sidebar-user-name {
    position: absolute;
    top: 15px;
    left: 50px;
    color: white;
  }
}

.sidebar-panel-header{
  margin: 0 0 3% 0;
  background-color: #34343a;
  & p {
    font-size: 18px;
  }
  & .title {
    color: #848b8d;
    margin: 0 0 0 20%;
    padding: 15px 0;
  }
  & .bottom-highlight{
    height: 2px;
    width: 40%;
    background-color: $secondary-color;
  }
}

.sidebar-panel-header-link {
  &:hover, &:hover p {
    color: #fff;
    text-decoration: none;
    outline: none;
    border: none;
    cursor: pointer;
  }
  &:focus, &:focus p {
    text-decoration: none;
    outline: none;
    border: none;
  }
}

.sidebar-panel {
  margin-bottom: 20px;
  border: 1px solid transparent;
}

.sidebar-panel-body{
  & a {
    display: block;
    padding: 10px 0 10px 20px;
    font-size: 15px;
    color: #fff;
  }
  & a:hover {
    border: none;
    outline:none;
    text-decoration: none;
  }
  & a:active, a:focus {
    text-decoration: none;
    border: none;
    outline:none;
  }
}

/*-- Campaign New Sidebar --*/

.download-media-plan {
  display: block;
  margin: 90px auto 0 auto;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  border-top: 1px solid rgba(255,255,255,0.05);
  & i {
    color: $secondary-color;
  }
  & p {
    color: $secondary-color;
    font-size: 16px;
    margin-top: 10px;
  }
 }