/*-------------------*/
/*  Sidebar Content  */
/*-------------------*/

.page-content-wrap {
  width: 100%;
  height: 100%;
  padding: 0 60px;
  transition: all .5s;
}


.page-menu-btn-wrap {
  position: relative;
  height: 39px;
  border-bottom: 1px solid #34343a;
  margin: 0 0 10px 0;
}

.page-menu-toggle {
  position: fixed;
  top: -14px;
  left: 25px;
  display: inline;
  margin: 0 15px 0 0;
  top: 5px;
  color: #5e5e5e;
  font-size: 28px;
  border-right: 1px solid #5e5e5e;
  padding-right: 25px;
  /* old style
  position: relative;
  float: left;
  margin: 0 15px 0 0;
  top: 9px;
  color: #5e5e5e;
  font-size: 21px; */
  &:hover, &:active, &:focus {
    color: #5e5e5e;
    border: 0px solid transparent;
    border-right: 1px solid #5e5e5e;
    outline: none;
  }
}

  

.page-menu-header{
  margin: 0 0 3% 0;
  background-color: #34343a;
  & p {
    font-size: 18px;
  }
  & .title {
    color: #848b8d;
    margin: 0 0 0 20%;
    padding: 15px 0;
  }
  & i {
    position: relative;
    top: 5px;
    color: #67e875;
    float: right;
    margin: 0 15% 0 0;
    font-size: 23px;
    transition: margin .5s;
  }
  & .bottom-highlight{
    height: 2px;
    width: 40%;
    background-color: #67e875;
  }
}

.page-menu-content{
  & p {
    margin: 0 0 20px 0;
  }  
  & .title a {
    font-size: 15px;
    font-size: 15px;
    color: #fff;
  }
  & .title a:hover, .title a:active, .title a:focus {
    text-decoration: none;
    border: none;
    outline:none;
  }
}

/*-- Campaign New Sidebar --*/

.download-media-plan {
  &:hover, &:focus {
    text-decoration: none;
    border: none;
  }
  &:hover i, &:hover p {
    
  }
  & i {
    color: $neon-green;
    margin-top: 30px;
  }
  & p {
    color: $neon-green;
    font-size: 16px;
    margin-top: 10px;
  }
 }

/*-----------*/
/*  Sidebar  */
/*-----------*/

.sidebar {
  left: -211px !important;
  top: 50px;
  width: 210px;
  height: 100%;
  background-color: #29292e;
  transition: margin .5s;
  /* allows flash message to display above or below seidebar */
  // z-index:10;
}

.show-sidebar {
  margin-left: 211px !important;
}

.sidebar-push-content {
  margin-left: 211px !important;
  width: 85%;
}