<h3 class="center"> 
  Campaign Name Placements
</h3>

<div class="page-content">

  <ul class="list-unstyled list-item-fancy-box-wrap">
    <a href="" ng-repeat="adTags in campaignAdTagAll.campaigns">
      <li class="list-item-fancy-box">
        <div class="list-item-content">
        <span class="item-count-circle">
          {{$index+1}}
        </span>
          {{adTags.media_partner}}_{{adTags.device}}_{{adTags.placement_name}}_{{adTags.period}}
        </div>
      </li>
    </a>
  </ul>

</div>