<section class="sticky-right page-menu">
  <aside class="page-menu-header" ng-repeat="menuHeader in menuHeaders">
    <a href="#" ng-click="setCurrentHeader(header)">
      <p class="title"> 
        {{menuHeader.header}}
        <i class="fa fa-bar-chart"></i>
      </p>
    </a>
   <div class="bottom-highlight"></div>
  </aside>
  <aside class="page-menu-content">
   <p class="title"> 
     $5,022.43
   </p>
  </aside>
  
</section>