<%= form_for @campaign, id:"new_transaction"   do |f| %>
  <div class="upload-ad-tags">
    <div>
       <%= f.file_field :ad_tags_file, id: "new_transaction" %>
    </div>
  </div>
  <div class="center">
    <%= f.button "Traffic Tags!", :class => "r3-btn-primary" %>
  </div>
<% end %>

