<%= form_for @campaign, 
    url:{:controller=>'campaigns', :action=>'create'} do |f| %>

  <div class="upload-ad-tags r3-primary-border">
    <div>
       <%= f.file_field :ad_tags_file, id: "new_transaction" %>
    </div>
  </div>
  <div class="center">
    <%= f.button "Traffic Tags!", id: "btn-upload-meida-plan", :class => "r3-btn-primary" %>
  </div>

<% end %>

