<% content_for :title do %>
  Media Plan 
<% end %>

<div class="page-content" >
  <div ui-view="header"></div>
  <div ui-view="content-top"></div>
  <div ui-view="content-middle"></div>
  <div ui-view="content-bottom"></div>
  <div ui-view="footer"></div>
<div>
