<% content_for :title do %> New Campaign <% end %>

  <div class="upload-ad-tags-header">
    <p>
      Ready to traffic?
    </p>
    <p>
      Just upload ad tags to get started!
    </p>
  </div>

<div class="upload-ad-tags-wrap">
  <%= render '/campaigns/upload_ad_tags_form' %>
</div>