<% content_for :title do %> Campaign Show <% end %>

<div>
  <%= render 'campaigns/page_menu' %>
</div>

<div class="page-content">
  
  <header class="center">
    <h3>
      Campaign Basics
    </h3>
  </header> 

  <ul class="list-unstyled list-item-fancy-box-wrap">
    <li>
      ID: {{campaign.id}}
    </li>
    <li>
      Name: {{campaign.name}}
    </li>
    <li>
      Url: http://www.s3.amazon.com/my-ad-tag-path
    </li>
    <li>
      Created At: {{campaign.created_at}}
    </li>
  </ul>

  <h3>
    Placements
  </h3> 

  <ul class="list-unstyled list-item-fancy-box-wrap">
    <a href="" ng-repeat="adtag in adtags">
      <li class="list-item-fancy-box">
        <div class="list-item-content">
        <span class="item-count-circle">
          {{$index+1}}
        </span>
          {{adtag.media_partner}}_{{adtag.device}}_{{adtag.placement_name}}_{{adtag.period}}
        </div>
      </li>
    </a>
  </ul>

</div>
