@import 'base';

/*
 *=require c3
 *=require angular-material
 */

$navbar-default-bg: #fff;
$navbar-default-link-hover-color: #181818;
$navbar-default-link-active-color: #181818;
$navbar-default-link-active-bg: #fff;

@import 'bootstrap-sprockets';
@import 'bootstrap';

@import 'font-awesome';


