.bar-graph{
  margin: 0px auto;
}


.item6 {
  fill: #a2ffff;
}

.item5 {
  fill: #00cbfe;
}

.item4 {
  fill: #0098fe;
}

.item3 {
  fill: #0065fe;
}

.item2 {
  fill: #fc97ca;
}

.item1 {
  fill: #9700fb;
} 



/*
.item1{
  fill: #0099ff;
}
.item2{
  fill: #00ccff;
}
.item3{
  fill: #27ae60;
}
.item4{
  fill: #30d94c;
}
.item5{
  fill: #6bff84;
}
*/