@import 'partials/global';

body,
html {
  width: 100%;
  height: 100%;
}

body,h1,h2,h3,h4,h5,h6 {
  font-family: $font-stack;
  color: $primary-text;
  padding-top: 55px;
}


/*----------------------*/
/*   Custom-BootStrap   */
/*----------------------*/

.container{
  width:  1100px !important;
  height: 100% !important;
}

.navbar-brand {
  font-size: 20px !important;
  & span {
  color: #67e875;
  }
}

/*---------------------*/
/*    Custom-Global    */
/*---------------------*/

.center{
  text-align: center;
  margin: 0px auto;  
}

.sticky-right{
  position: fixed;
  left:0px;
}
