@import 'partials/global';

.page-content-wrap {
  width: 100%;
  height: 100%;
  padding: 0 60px;
  transition: all .5s;
}

.page-menu {
  left: -211px !important;
  top: 50px;
  width: 210px;
  height: 100%;
  background-color: #29292e;
  transition: margin .5s;
}

.page-menu-btn-wrap {
  position: relative;
  height: 39px;
  border-bottom: 1px solid #34343a;
  margin: 0 0 10px 0;
}

.page-menu-toggle {
  position: relative;
  left: -110px;
  top: 9px;
  color: #5e5e5e;
  font-size: 21px;
  &:hover, &:active, &:focus {
    color: #5e5e5e;
    border: 0px solid transparent;
    outline: none;
  }
}

.page-menu-header{
  margin: 0 0 3% 0;
  background-color: #34343a;
  & p {
    font-size: 18px;
  }
  & .title {
    color: #848b8d;
    margin: 0 0 0 20%;
    padding: 15px 0;
  }
  & i {
    position: relative;
    color: #67e875;
    float: right;
    margin: 0 6% 0 0;
    font-size: 23px;
    transition: margin .5s;
  }
  & i.trafficking {
    left: -5px;
  }
  & i.media-plan {
    left: -3px;
  }
  & .bottom-highlight{
    height: 2px;
    width: 40%;
    background-color: #67e875;
  }
}

.page-menu-content{
  & p {
    margin: 0 0 20px 0;
  }  
  & .title a {
    font-size: 15px;
    font-size: 15px;
    color: #fff;
  }
  & .title a:hover, .title a:active, .title a:focus {
    text-decoration: none;
    border: none;
    outline:none;
  }
}

.show-page-menu {
  margin-left: 211px !important;
}

.page-menu-content-push {
  margin-left: 211px !important;
  width: 85%;
}

.show-page-menu-i {
  margin: 0 15% 0 0 !important;
}