<div class="single-componet-wrap">
  <div class="component-header">
    <p>
      Create your account
    </p>
  </div>
  <div class="form-error-wrap">
    <!-- form errors here -->
  </div>
  <div class="form-wrap primary-border">
    <!-- form here -->
  </div>
</div>