<div class="page-header">
  <h2 class="center"> 
    Account Settings
  </h2>
</div>

  <!-- Form Tag Here -->
  <div class="account-settings-wrap shadow-border">
    <div class="account-settings-row">
      <div class="account-settings-label">
        <p class="account-settings-header">
          The Basics
        </p>
      </div>
    </div>
    <div class="account-settings-row">
      <div class="account-settings-label">
        Name:
      </div>
      <div class="account-settings-value">
        <div class="account-settings-value-2">
          
        </div>
        <div class="account-settings-value-2">
         
        </div>
      </div>
     </div>
     <div class="account-settings-row">
      <div class="account-settings-label">
        Photo:
      </div>
      <div class="account-settings-value">
        
      </div>
      </div>
      <div class="account-settings-row">
        <div class="account-settings-label">
          Email:
        </div>
        <div class="account-settings-value">
         
        </div>
      </div>
      <div class="account-settings-row">
        <div class="account-settings-label">
          Position:
        </div>
        <div class="account-settings-value">
          
        </div>
      </div>
      <div class="account-settings-row">
        <div class="account-settings-label">
          Title:
        </div>
        <div class="account-settings-value">
          
        </div>
      </div>
      <div class="account-settings-row">
        <div class="account-settings-label">
          Company:
        </div>
        <div class="account-settings-value">
          
        </div>
      </div>
    </div>

    <div class="account-settings-wrap account-settings-submit-wrap shadow-border">
      <div class="account-settings-submit">
        
      </div>
    </div>

<!-- end form tag here -->