<div class="single-componet-wrap">
  <div class="component-header">
    <p>
      Update your password
    </p>
  </div>
  <div class="form-error-wrap">
    {{partial "password_resets/errors"}}
  </div>
  <div class="form-wrap r3-primary-border">
    {{partial "password_resets/form_edit"}}
  </div>
</div>