<form action="/password_resets" method="post">
  <div class="form-input">
    <input type="email" name="email" placeholder="email" 
      class="form-control"/>
  </div>
  <div class="center">
    <button type="submit" name="Submit" class="r3-btn-primary">
      Submit
    </button>
  </div>
</form>