<form action="/password_resets" method="post">
  <div class="form-input">
      <input type="password" name="password" placeholder="password"
        class="form-control"/>
    </div>
    <div class="form-input">
      <input type="password" name="passwordConfirmation"
        placeholder="password confirmation" class="form-control"/>
    </div>
  <div class="center">
    <button type="submit" name="Submit" class="r3-btn-primary">
      Submit
    </button>
  </div>
</form>