<div class="single-componet-wrap">
  <div class="component-header">
      <p>
        Forgot your password?
      </p>
  </div>
  <div class="form-wrap r3-primary-border">
    <p class="form-description"> 
      Enter your email address to 
      receive new password instructions.
    </p>
    {{partial 'password_resets/form'}}
  </div>
</div>