<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="page-menu-toggle" href="">
        <i class="fa fa-bars"></i>
      </a>
      <a class="navbar-brand" href="#">R<span>3</span>act</a>
    </div>
  </div>
</nav>